/**
 * Tabs
 * On the Blog page for posts and categories
 */
.tabs {
  @extend %letter-spacing;

  display: flex;
  justify-content: space-around;
  padding: 1em;

  list-style-type: none;

  @media (min-width: $mq-md) {
    padding-left: 4em;
    padding-right: 4em;
  }

  @media (min-width: $mq-xxl) {
    padding-left: 5em;
    padding-right: 5em;
  }

  .tabs__item {
    margin: 0.4em 1em;
  }

  ul {
    list-style-type: none;
  }
  
  &__item {
    cursor: pointer;

    &:not(.active) {
      @include border-slide();
    }

    &.active {
      border-bottom: 3px solid $color-alpha;
    }
  }
}

.tab {

  &.active {
    will-change: opacity;
    animation: fade-in 1s both;
  }

  ul {
    list-style-type: none;
  }
}

/**
 * BlogPage Post Preview
 * On the BlogPage page
 */

.previews {

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 100%;
    padding: 2em;

    color: $color-white;

    span {
      @extend %letter-spacing;

      font-family: $font-body;
    }
  }
}

.preview {
  transition: background-color 0.2s ease-in-out;
  list-style-type: none;

  &:nth-child(even) {
    background-color: $color-white;
  }

  &:hover {
    background-color: $color-alpha--light;

    .preview__more {
      box-shadow: inset 175px 0 0 0 $color-alpha;
      color: $color-white;
    }
  }

  &__img {
    will-change: opacity;
    animation: fade-in 1s both;
  }

  &__link {
    display: block;
    padding: 2em 1em;

    @media (min-width: $mq-md) {
      padding: 4em 8em;
    }

    @media (min-width: $mq-xxl) {
      padding-left: 10em;
      padding-right: 10em;
    }
  }

  &__date {
    font-family: $font-header;
    color: $color-black;
  }

  &__header {
    color: $color-alpha;

    margin-bottom: 0.5em;
  }

  &__excerpt {
    color: $color-black;
  }

  &__more {
    @include button-slide();
  }
}

/**
 * Footer
 */
.footer {
  padding-left: 2em;
  padding-right: 2em;
  position: absolute;
  bottom: 0;
  right: 0;

  @media (min-width: $mq-sm) {
    flex-direction: row;
  }

  &__archive {
    @include border-slide();

    @extend %letter-spacing;
  }

  &__social {
    display: flex;
    margin-top: 1em;

    list-style-type: none;

    @media (min-width: $mq-sm) {
      margin-top: 0;
    }

    & > *:not(:last-child) {
      margin-right: 1em;
    }    
  }
}

/**
 * Mast
 * On the Post page for the header section
 */
.mast {
  position: relative;

  height: 20em;

  color: $color-white;
  background-color: $color-black;

  @media (min-width: $mq-sm) {
    height: 35em;
  }

  &:after {
    @extend %overlay;
  }

  &__img {
    animation: fade-in 2s both;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    width: 90%;
    margin: 0 auto;
  }

  h1 {

    @media (min-width: $mq-md) {
      width: 75%;
    }
  }
}

/**
 * Navigation
 */
.nav {
  @extend %letter-spacing;

  position: absolute;
  top: 1.25em;
  left: 1em;
  z-index: 99;

  display: flex;
  align-items: center;

  font-family: $font-body;

  @media (min-width: $mq-sm) {
    left: 2em;
  }

  i {

    @media (min-width: $mq-sm) {
      margin-right: 0.5em;
    }
  }

  span {
    display: none;

    @media (min-width: $mq-sm) {
      display: block;
    }
  }

  &--black {
    color: $color-black;

    &:hover,
    &:active,
    &:focus {
      color: $color-black;
    }
  }

  &--white {
    color: $color-white;

    &:hover,
    &:active,
    &:focus {
      color: $color-white;
    }
  }
}

/**
 * Post
 */
.post {
  width: 90%;
  max-width: $mq-md;
  margin: 0 auto;

  font-family: $font-post;

  @media (min-width: $mq-md) {
    width: 55%;
  }

  & > *:last-child {
    margin-bottom: 0;
  }

  h1, 
  h2 {
    line-height: 1.2;
  }

  ol, ul {
    margin-bottom: 1em;
    margin-left: 1em;

    & > li {
      position: relative;

      &:before {
        position: absolute;
        left: -1em;
      }

      &:not(:last-child) {
        margin-bottom: 0.25em;
      }
    }
  }

  ol {
    list-style-type: none;
    counter-reset: li;

    & > li:before { 
      content: counter(li) ".";

      counter-increment: li;
    }
  }

  p:first-child {
    font-size: 1.25em;
  }

  a {
    border-bottom: 1px solid $color-alpha;
  }

  img {
    margin: 2em 0;
  }

  figure {
    margin: 2em 0;
  }

  figure > img {
    margin: 0;
  }

  figcaption {
    margin-top: 0.5em;

    font-size: 0.75em;
    text-align: center;
  }
}

/**
 * Profile Card
 */
.profile {
  width: 90%;
  max-width: $mq-md;
  margin: 0 auto;
  padding-bottom: 4em;

  @media (min-width: $mq-lg) {
    width: 55%;
  }

  &__card {
    @include box-shadow(1px);

    display: flex;
    flex-direction: column;

    @media (min-width: $mq-md) {
      flex-direction: row;
    }
  }

  &__img {
    position: relative;

    min-height: 15em;

    background-color: $color-black;

    @media (min-width: $mq-md) {
      flex-basis: 45%;
      max-width: 45%;
    }

    &:after {
      @extend %overlay;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;

    background-color: $color-white;

    @media (min-width: $mq-md) {
      flex-basis: 55%;
      max-width: 55%;
    }
  }

  &__social {
    display: flex;
    justify-content: flex-end;

    list-style-type: none;

    & > *:not(:last-child) {
      margin-right: 1em;
    }
  }
}

/**
 * Next Post
 * On the Post page for single post pagination
 */
.next {
  background-color: $color-black;

  &__link {
    display: block;
    height: 25em;
    padding: 6em 0;

    color: $color-white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;

    &:after {
      @extend %overlay;
    }

    &:hover {
      color: $color-white;
    }

    &:hover:after {
      background-color: rgba($color-alpha, 0.8);
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    text-align: center;

    span {
      @extend %letter-spacing;

      font-family: $font-body;
    }
  }
}

/**
 * Custom styles
 */

li.preview__blog {
  padding: 4em 2em;
}

.place__forHeader {
  position: relative!important;
  height: 0!important;
  width: 100%!important;
  background-color: $color-grey!important;
}

.place__forHeader:after {
  background-color: $color-grey!important;
}

.title__container {
  text-align: center;
  position: absolute;
  width: 100%!important;
  padding-top: 80px!important;
  height: auto!important;
  color: #f8f9f9;
  @media (min-width: $mq-md) {
    width: 45%!important;
    padding-top: 215px!important;
  }

  h1 {
    text-transform: uppercase;
  }
}

.main-text {
  margin: 1em 1em;
}

.site__title {
  z-index: 2;
  height: 8%;
  min-height: 64px;
  width: 45%;
  background-color: $color-grey;
  text-align: center;
  display: flex;
  align-items: center;
  position: fixed;
}

.site__title h1 {
  margin: 0 auto;
}

.nav__wrapper {
  height: 8%;
  min-height: 3.5em;
  position: fixed;
  width: 55%;
  background-color: $color-grey;
  z-index: 2;
  @media (min-width: $mq-md) {
    padding-left: 4em;
    padding-right: 4em;
  }
}

.nav__buttons {
  margin-left: 0;
  @media (min-width: $mq-sm) {
    margin-left: 45%;
  }
}

.image__scroll {
  overflow: hidden;
  background-color: $color-alpha--light!important;
  @media (max-width: $mq-md) {
    display: none;
  }
}

.image__scroll:after {
  background-color: transparent!important;
}

.tools__img {
  background-image: url('../../assets/img/toolsimg.png');
  animation: fade-in 1s both;
}

.visible__project-enter {
  opacity: 0.01;
}

.visible__project-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.visible__project-leave {
  opacity: 1;
}

.visible__project-leave.visible__project-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

.visible__project-appear {
  opacity: 0.01;
}

.visible__project-appear.visible__project-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.preview__img {
  background-image: url('../../assets/img/bgleftmain.jpg');
  height: 15em!important;
  @media (min-width: $mq-md) {
    height: 100%!important;
  }
}

p.preview__excerpt__blog {
  height: 8em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.leftSide__img__projects {
  position: relative;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: auto;
}

.leftSide__img__blog {
  display: none;
  width: 45%;
  padding-left: 4em;
  float: left;
  height: 13em;
  @media (min-width: $mq-md) {
    display: inline-block;
  }
}

.img__blog {
  width: 20em;
  height: inherit;
  float: right;
}

.project__title {
  margin-top: 13.2px;
}

.project__dev__list {
  margin-bottom: 10px;
}

.project__technology {
  width: 133.37px;
  height: 59.54px;
  display: inline-block;
}

.project__link {
  @include border-slide();
  cursor: pointer;
}

.project__link__title {
  margin-top: 15px;
}

.preview__link_blog {
  display: inline-block;
  width: 100%;
  padding-left: 2em;
  padding-right: 1em;
  padding-top: 0;
  padding-bottom: 0;
  @media (min-width: $mq-md) {
    padding-left: 4em;
    padding-right: 8em;
    width: 55%;
  }
  @media (min-width: $mq-xxl) {
    padding-left: 8em;
    padding-right: 10em;
  }
}