/**
 * Absolute Background Cover
 */
.absolute-bg {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: 52%;
  @media (min-width: $mq-md) {
    background-position: 52%;
  }
}

.relative-bg {
  height: 24em;
  margin: 3em 6em;
  background-size: contain;
  background-repeat: no-repeat;
}

.image__scroll {
  overflow: hidden;
  background-color: $color-alpha--light!important;
}

.image__scroll:after {
  background-color: transparent!important;
}

/**
 * Color Helpers
 */
.bg-black {
  background-color: $color-black;
}

.bg-grey {
  background-color: $color-grey;
}

.bg-white {
  background-color: $color-white;
}
