/**
 * Absolute Background Cover
 */
.absolute-bg {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: 52%;
  @media (min-width: $mq-md) {
    background-position: 52%;
  }
}

.relative-bg {
  height: 20em;
  margin: 1em 6em;
  background-size: contain;
  background-repeat: no-repeat;
  @media (max-width: $mq-xl) {
    height: 18em;
    margin: 1em 3em;
  }
  @media (max-width: $mq-sm) {
    height: 18em;
    margin: 1em 0;
  }
}

.no-margin-left {
  margin-left: 0!important;
}

.image__scroll {
  overflow: hidden;
  background-color: $color-alpha--light!important;
  @media (max-width: $mq-md) {
    display: none;
  }
}

.image__scroll:after {
  background-color: transparent!important;
}

/**
 * Color Helpers
 */
.bg-black {
  background-color: $color-black;
}

.bg-grey {
  background-color: $color-grey;
}

.bg-white {
  background-color: $color-white;
}
